<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Quizz answer</title>
  </head>
  <body>
    <h4>Respuesta <%= respuesta %></h4>
    <a href="/quizes/question">Repetir</a>
  </body>
</html>
