<form action="quizes" method="get">
  <input type="text" name="search">
  <input type="submit" value="Buscar">
</form>
<table>
  <% if (quizes.length === 0) { %>
    <p>
      No se han encontrado preguntas que coincidan con la búsqueda
    </p>
  <%} %>
  <% for (var i = 0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %></a>
      </td>
    </tr>
  <% } %>
</table>
