<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Quizz question</title>
</head>
<body>
  <form action="/quizes/answer" method="post">
    <h4>Pregunta: <%= pregunta %></h4>
    <p>Pista: <%= pista %></p>
    <input type="text" name="respuesta" placeholder="Responder">
    <input type="submit" value="Enviar">
  </form>
</body>
</html>
